.home{
    background-image:url("https://www.arabnews.com/sites/default/files/2022/06/05/3268916-1512460046.jpg");
    height:100vh;
    background-size:cover;
}
.home-card{
    background-color:#ffffff;
    padding:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;


}
.main-head{
    font-family:serif;
    color:red;
    font-weight:bold;
    text-decoration: underline;
}
.main-par{
    color:purple;
}
 .fav-main{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    background-size:cover;
}
.fav-card{
    background-color:#ffffff;
    border-radius:10px;
    padding:20px;
}
